

.datos-form, .residence-form, .document-form {
  width: 571px;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 16px;
  padding-top: 26px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.datos-form input,
.datos-form select,
.residence-form input,
.residence-form select,
.document-form input,
.document-form select {
  position: relative;
  display: flex;
  margin-top: 10px;
  height: 45px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.inner-form-container {
  width: 620px;
  border: 0px solid #ccc;
  border-radius: 5px;
}

.inner-form-container h3, h4{
  padding-left: 23px;
}

.title-form-container {
  font-size: 20px;
}

.document-upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-upload-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.image-upload-label {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.image-box {
  position: relative;
  width: 571px; /* Ancho ajustado */
  height: 200px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #f0f0f0;
}

.image-box img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.upload-icon {
  color: #666;
  font-size: 20px;
}
.remove-image-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #007BFF; /* Color de fondo azul para coincidir con el botón "Siguiente" */
  color: white;
  border: none;
  font-size: 12px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px; /* Bordes redondeados para un aspecto moderno */
  transition: background-color 0.3s ease; /* Transición suave para el efecto de desplazamiento */
}

.remove-image-button:hover {
  background-color: #0056b3; /* Color de fondo más oscuro en el desplazamiento */
}


.popup-upload-frontimage, .popup-upload-backimage, .popup-upload-selfie {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 520px;
  background: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1001;
}

.close-button-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup-upload-frontimage img, .popup-upload-backimage img, .popup-upload-selfie video {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.buttons-container-popup {
  display: flex;
  justify-content: space-between;
  width: 75%;
  padding: 20px 0;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.back-button-popup, .next-button-popup {
  width: 100%;
  font-size: 16px;
  transition-duration: 0.25s;
  padding: 14px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.back-button-popup {
  background-color: #fff;
  color: rgb(79, 79, 79);
  border: 1px solid rgb(189, 189, 189);
  margin-right: 10px;
}

.next-button-popup {
  background-color: #007BFF;
  color: #fff;
  border: none;
  margin-left: 10px;
}

.image-container-popup {
  width: 60%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.placeholder-image-popup {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
}


.error-message {
  text-align: right;
  font-weight: 610;
  color: red;
  font-size: 12px;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 10px;
  height: 45px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-container input,
.input-container select {
  flex-grow: 1;
  height: calc(100% - 2px); /* Resta 2px para asegurar que el borde inferior sea visible */
  border: none; /* Elimina el borde del input para evitar el doble borde */
  outline: none;
  padding: 0; /* Elimina el padding para que el texto esté alineado con el contenedor */
  margin: 1px 0; /* Añade un margen para compensar la reducción de la altura */
}

.error-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px; /* Puedes ajustar el tamaño según tus necesidades */
  height: 20px;
}

.error-border {
  border: 1px solid red !important;
  color: red; /* Cambia el color del texto a rojo */
}

.input-container.error-border select {
  color: red; /* Cambia el color del texto a rojo */
}

/* Estilo para cambiar el color del marcador de posición a rojo cuando hay un error */
.input-container.error-border input::placeholder,
.input-container.error-border select::placeholder {
  color: red;
}

.success-border {
  border: 1px solid green !important;
}

.success-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.declarations, .pep-options, .pep-you-options {
  margin-left: 23px;
}

.declarations {
  margin-top: 20px;
  margin-bottom: 20px;
}

.declaration-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.declaration-container input[type="checkbox"] {
  display: none;
}

.declaration-container label {
  flex-grow: 1;
  font-size: 14px;
  text-align: justify;
  font-weight: 610;
  color: rgb(119, 119, 119);
  line-height: 1;
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}

.declaration-container label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  background-image: url(../../assets/checkbox.png);
  background-size: cover;
}

.declaration-container input[type="checkbox"]:checked + label::before {
  background-image: url(../../assets/checkbox-selected.png);
}


