
.dashboard-container {
  display: flex;
}
  
  .main-content-wrapper {
    padding: 20px;
    width: 100%;
    position: relative;
    flex: 1;
    min-height: 100vh;
  }
  
  .main-content {
    flex: 1;
    padding: 20px;
    background-color: #f7f9fc;
    position: relative;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ecf0f1;
  }
  
  .header-left {
    display: flex;
    align-items: center;
  }
  
  .avatar {
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  
  
  .main-content.blur {
    filter: blur(5px);
    pointer-events: none;
  }
  
  /* Estilos para el menú dual */
  .menu-dual {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 8px; /* Bordes más redondeados */
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra más suave */
  }

  .menu-dual button {
    flex: 1;
    padding: 12px 24px; /* Padding más amplio */
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    background-color: #f9f9f9; /* Color de fondo más claro */
    color: #555; /* Color de texto más suave */
  }

.menu-dual button.active {
  background-color: var(--primary-color); /* Color principal cuando está activo */
  color: var(--secondary-color);
}

.menu-dual button:not(.active):hover {
  background-color: #e6e6e6; /* Color al pasar el ratón por encima */
   /* Efecto de escala al pasar el ratón por encima */
}

/* Estilos para los contenedores de enviar y recibir */
.send-container, .receive-container, .deposit-container, .withdraw-container {
  padding: 24px; /* Padding más amplio */
  border: 1px solid #e6e6e6;
  border-radius: 12px; /* Bordes más redondeados */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08); /* Sombra más suave */
}

/* Estilos para los select boxes */
.select-container, .input-group, .wallet-address-container, .qr-and-address, .address-and-copy, .address-with-button {
  margin-bottom: 20px; /* Espaciado uniforme */
  position: relative;

}




/* Estilo para el título del select box */
.select-container label, .wallet-address-container label, .input-group label {
  display: block;
  margin-bottom: 8px; /* Espaciado más pequeño */
  font-weight: 600; /* Peso de fuente semi-negrita */
  color: #333; /* Color de texto más oscuro */
}


.btc-logo {
  width: 25px;
  height: auto;
  margin-right: 8px; /* Espaciado más amplio */
  vertical-align: middle;
}

.wallet-address-container {
  width: 500px; /* Ajusta según tus necesidades */
  display: flex;
  flex-direction: column;
  
}

.qr-and-address, .address-and-copy, .address-with-button {
  display: flex;
  align-items: center;
}

.address-and-copy {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px; /* Ajusta según tus necesidades */
}

.wallet-address-container span, .wallet-address-container button {
  margin-left: 20px; /* Ajusta según tus necesidades */
}

.deposit-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.address-and-copy{
  display: flex;
}

.address-with-button {
  display: flex;
  align-items: center;
}


.wallet-address {
  font-weight: 600; /* Peso de fuente semi-negrita */
}



.input-group input {
  width: 100%; /* Ancho completo */
  height: 40px; /* Altura más amplia */
  border: 1px solid var(--neutral-gray);
  border-radius: 5px;
  padding: 0 12px; /* Padding interno */
  font-size: 16px;
  box-sizing: border-box;
}

.input-group input:focus{
  outline: none;
  box-shadow: inset 0 0 0 2px var(--primary-color);
}


.transfer-button, .withdraw-button{
  margin-top: 24px; /* Espaciado más amplio */
}

.transfer-button, .withdraw-button {
  padding: 12px 24px; /* Padding más amplio */
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 8px; /* Bordes más redondeados */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.toggle-button-container {
  padding: 0;
  outline: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  margin: 4px 0px 0px;
  min-width: 0px;
  display: flex;
  cursor: not-allowed;
  color: rgb(94, 102, 115);
  -webkit-box-align: center;
  align-items: center;
  width: auto; /* Asegurarse de que el ancho sea automático */
  height: auto; /* Asegurarse de que la altura sea automática */
}

.toggle-icon {
  width: 20px; /* Ajusta el tamaño del SVG */
  height: 20px; /* Ajusta el tamaño del SVG */
  margin-right: 8px; /* Espacio entre el SVG y el texto */
}

.toggle-text {
  font-size: 14px; /* Ajusta el tamaño del texto */
  margin: 0; /* Asegurarse de que no haya márgenes adicionales */
}

/* CommonStylesMenus.css */

.input-error {
  border-color: red;
}

.error-message {
  color: red;
  margin-top: 8px; /* Espaciado más amplio */
  font-size: 14px; /* Tamaño de fuente más pequeño */
}

.display-amount-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;

}

.recieve-amount {
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
  color: rgb(0, 0, 0);
  word-break: break-all;
  /* Aquí puedes agregar todos los otros estilos que proporcionaste */
  text-size-adjust: 100%;
}

.user-balance{
  margin-top: 16px;
}

.input-wrapper {
  position: relative;
  display: block;
  margin-bottom: 20px; /* Ajusta según tus necesidades */
}
.withdraw-amount-max-container {
  position: absolute; /* Posiciona este contenedor dentro del input-group */
  right: 15px; /* Ajusta esto según tus necesidades */
  top: 50%;
  transform: translateY(-50%); /* Centra verticalmente el contenedor */
  display: flex;
  align-items: center;
  color: var(--neutral-gray);
}


.amount-max, .btc-max {
  cursor: pointer;
}

.separator-withdraw-amount-max {
  width: 1px;
  height: 12px; /* Ajusta esto según tus necesidades */
  background-color: var(--neutral-gray); /* Ajusta el color según tus necesidades */
  margin: 0 5px; /* Espacio a ambos lados del separador */
}