/*Dashboard.css*/




.balance-container, .transactions-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.balance {
  display: flex;
  align-items: center;
  gap: 10px;
}

.transactions-container{
  margin-top: 20px;
}

.transactions-container th {
  background-color: #f2f2f2;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 10px; /* Espacio entre los elementos */
}

/* Estilo para la imagen de estado de verificación */
.verification-status-image {
  width: 20px; /* Tamaño de la imagen, ajusta este valor según tus necesidades */
}


/* Estilo para el texto de estado de verificación */
.header-left span {
  font-size: 14px; /* Tamaño del texto */
  font-weight: bold; /* Negrita */
}

/* Colores específicos para cada estado */
.header-left span:is(.verified) {
  color: green; /* Texto verde para "Cuenta verificada" */
}

.header-left span:is(.in-verification) {
  color: #ffa500; /* Texto amarillento para "Cuenta en revisión" */
}

.header-left span:is(.not-verified) {
  color: red; /* Texto rojo para "Sin verificar" */
}


.wallet-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #ccc;
  margin: 20px 0;
  text-align: center;
}

.wallet-container button{
  background-color: #007BFF;
  color: #fff;
  border: none;
  width: 48%; /* Ajusta según tus necesidades */
  text-align: center; /* Centra el texto */
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.25s;
}

.wallet-popup {
  display: flex;
  align-items: center;
  position: fixed;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 1000;
  text-align: center;
}

.wallet-popup button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  width: 48%; /* Ajusta según tus necesidades */
  text-align: center; /* Centra el texto */
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.25s;
}


.btclogo{
  width: 80px;
}
.balance{
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}


/* Estilo base para las tarjetas de transacciones */
.transaction-item {
  display: flex;
  justify-content: space-between; /* Alinea los elementos a los extremos */
  align-items: center; /* Alinea los elementos verticalmente al centro */
  padding: 15px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  margin-bottom: 15px;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.transaction-details {
  display: flex;
  gap: 20px; /* Espacio entre los elementos */
  align-items: center; /* Alinea los elementos verticalmente al centro */
  font-weight: 500;
}


.transaction-detail-button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.transaction-detail-button:hover {
  background-color: #0056b3; /* Un tono más oscuro para el hover */
}

/* Efecto hover para las tarjetas */
.transaction-item:hover {
  transform: translateY(-5px); /* Eleva ligeramente la tarjeta */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Sombra más pronunciada */
}

/* Estilo para los iconos de las transacciones */
.transaction-arrow {
  font-size: 24px;
  margin-right: 15px;
  flex-shrink: 0;
  align-items: center; /* Evita que el icono se reduzca */
}

/* Colores específicos para diferentes tipos de transacciones */
.green-arrow {
  color: #4CAF50; /* Verde para depósitos */
}

.red-arrow {
  color: #F44336; /* Rojo para retiros */
}

/* Estilo para los detalles de las transacciones */
.transaction-details {
  flex-grow: 1; /* Permite que los detalles ocupen el espacio restante */
}



