.dashboard-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.main-content-wrapper {
  position: relative;
  flex: 1;
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: #ecf0f1;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ecf0f1;
}

.header-left {
  display: flex;
  align-items: center;
}

.avatar {
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.balance-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.balance {
  display: flex;
  align-items: center;
  gap: 10px;
}

.transactions-container {
  margin-top: 20px;
}

.transactions-container table {
  width: 100%;
  border-collapse: collapse;
}

.transactions-container th,
.transactions-container td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.transactions-container th {
  background-color: #f2f2f2;
}

.verification-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  margin-top: 125px; /* Ajusta este valor según la altura de tu encabezado */
}

.verification-message {
  width: 30%;
  text-align: center;
  display: block;
  margin: auto;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.verification-message h3{
  margin-top: 0px;
}

.verification-message button {
  display: block; /* Hace que el botón sea un elemento de bloque */
  margin: auto; /* Centra el botón horizontalmente */
  cursor: pointer;
  background-color: #007BFF;
  color: #fff;
  border: none;
  width: 50%;
  font-size: 16px;
  transition-duration: 0.25s;
  padding: 14px 20px;
  border-radius: 5px;
}

.blur {
  filter: blur(5px);
  pointer-events: none;
}
