/*Dashboard.css*/

.dashboard-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.main-content-wrapper{
  padding: 20px;
  width: 100%;
}


.balance-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.balance {
  display: flex;
  align-items: center;
  gap: 10px;
}



.transactions-container th {
  background-color: #f2f2f2;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 10px; /* Espacio entre los elementos */
}

/* Estilo para la imagen de estado de verificación */
.verification-status-image {
  width: 20px; /* Tamaño de la imagen, ajusta este valor según tus necesidades */
}


/* Estilo para el texto de estado de verificación */
.header-left span {
  font-size: 14px; /* Tamaño del texto */
  font-weight: bold; /* Negrita */
}

/* Colores específicos para cada estado */
.header-left span:is(.verified) {
  color: green; /* Texto verde para "Cuenta verificada" */
}

.header-left span:is(.in-verification) {
  color: #ffa500; /* Texto amarillento para "Cuenta en revisión" */
}

.header-left span:is(.not-verified) {
  color: red; /* Texto rojo para "Sin verificar" */
}


.wallet-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #ccc;
  margin: 20px 0;
  text-align: center;
}

.wallet-container button{
  background-color: #007BFF;
  color: #fff;
  border: none;
  width: 48%; /* Ajusta según tus necesidades */
  text-align: center; /* Centra el texto */
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.25s;
}

.wallet-popup {
  display: flex;
  align-items: center;
  position: fixed;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 1000;
  text-align: center;
}

.wallet-popup button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  width: 48%; /* Ajusta según tus necesidades */
  text-align: center; /* Centra el texto */
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.25s;
}


.btclogo{
  width: 80px;
}
.balance{
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}


.transaction-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #e0e0e0;
  margin-bottom: 10px;
}

.transaction-arrow {
  font-size: 24px;
  margin-right: 10px;
}



.green-arrow {
  color: green;
}

.red-arrow {
  color: red;
}

.transaction-details span {
  margin-right: 10px;
}
