.profile-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}



.profile-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.small-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.edit-profile-button {
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-profile-button:hover {
    background-color: #0056b3;
}