.banner-container {
    display: flex; /* Establece el contenedor como un contenedor flex */
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
    align-items: center; /* Alinea verticalmente los elementos al centro */
    padding: 20px 32px; /* Añade un poco de espacio alrededor para evitar que los elementos estén pegados al borde */
    margin-left: 9.6px;
    margin-right: 9.6px;
  }
  
  .banner-image {
    max-width: 200px; /* Limita el ancho de la imagen */
    height: auto;
    padding-right: 40px; 
  }
  
  .banner-content {
    flex: 1; /* Ocupa todo el espacio disponible, empujando la imagen hacia la derecha */
    padding-right: 10px; /* Añade un poco de espacio a la derecha del contenido para separarlo de la imagen */
    text-align: left; /* Alinea el texto a la izquierda */
    padding-left: 60px; 
  }
  
  .cta-button {
    padding: 10px 20px;
    background-color: #000; /* Ajusta el color según tu diseño */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .cta-button:hover {
    background-color: #333; /* Color al pasar el cursor */
  }
  