.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 32px;
  margin-left: 9.6px;
  margin-right: 9.6px;
  background-color: #f7f7f7; /* Color de fondo más suave */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0; 
  z-index: 1000;
  transition: all 0.3s; /* Transición suave */
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo-container img {
  height: 50px;
  transition: transform 0.3s; /* Transición suave */
}

.logo-container img:hover {
  transform: scale(1.05); /* Efecto zoom al pasar el cursor */
}

.nav-links {
  display: flex;
  gap: 40px; /* Mayor espacio entre enlaces */
}

.nav-item {
  display: inline-flex;
}

.nav-links a {
  color: #333; /* Color de texto más suave */
  text-decoration: none;
  font-weight: 500;
  font-size: 18px; /* Tamaño de fuente más grande */
  transition: color 0.3s; /* Transición suave */
}

.nav-links a:hover {
  color: #007BFF; /* Color de hover */
}

.auth-buttons {
  display: flex;
  gap: 15px; /* Mayor espacio entre botones */
}

.auth-buttons a {
  text-decoration: none;
}

.login-btn,
.register-btn {
  padding: 12px 24px; /* Botones más grandes */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s; /* Transición suave */
  font-size: 18px; /* Tamaño de fuente más grande */
}

.login-btn {
  background-color: #555;
  color: #fff;
}

.login-btn:hover {
  background-color: #333; /* Efecto hover */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra al pasar el cursor */
}

.register-btn {
  background-color: #007BFF;
  color: #fff;
}

.register-btn:hover {
  background-color: #0056b3; /* Efecto hover */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra al pasar el cursor */
}

